# Sentiment Analysis (Big Data Environment)

## Tweets Dataset

Dataset : sentiment140 corpus, comprised of about 1.6M tweets, each with below information

1.Polarity of tweet: 0 = -ve, 2 = neutral, 4 = +ve <br>
2.ID of tweet <br>
3.Date of tweet <br>
4.The query (if available) <br>
5.The user of the tweet<br>
6.The text of the tweet

Also, AFINN wordlist have been used, it provides a sentiment score for 2476 English <br>
words to achieve a better accuracy, Each row of this dataset is:

1.Word <br>
2.Score

### Data Preparation

Loading data into HIVE table

Create a spark session

In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession. \
builder. \
config("spark.sql.warehouse.dir","/user/itv000684/warehouse"). \
appName("sentiment Analysis"). \
enableHiveSupport(). \
master("yarn"). \
getOrCreate()

In [3]:
spark.sql("SELECT current_database()").show()

+------------------+
|current_database()|
+------------------+
|           default|
+------------------+

In [19]:
#spark.sql("CREATE DATABASE IF NOT EXISTS itv000684_tweetdata")

++
||
++
++

In [4]:
spark.sql("USE itv000684_tweetdata")

++
||
++
++

In [5]:
spark.sql("SELECT current_database()").show()

+-------------------+
| current_database()|
+-------------------+
|itv000684_tweetdata|
+-------------------+

In [51]:
#spark.sql("DROP TABLE tweets")

++
||
++
++

In [6]:
spark.sql("SHOW TABLES").show()

+-------------------+---------------+-----------+
|           database|      tableName|isTemporary|
+-------------------+---------------+-----------+
|itv000684_tweetdata|sentiment_words|      false|
|itv000684_tweetdata|     tweets_raw|      false|
+-------------------+---------------+-----------+

In [7]:
spark.sql("DROP TABLE tweets_raw")

++
||
++
++

In [ ]:
spark.sql("""CREATE TABLE tweets (
polarity INT,
id STRING,
date STRING,
query STRING,
user STRING,
text STRING
)  ROW FORMAT DELIMITED FIELDS TERMINATED BY ','
STORED AS TEXTFILE
tblproperties("skip.header.line.count" = "0")
""")

In [26]:
spark.sql("""CREATE TABLE sentiment_words (
word STRING,
score INT
) ROW FORMAT DELIMITED FIELDS TERMINATED BY '\t'
STORED AS TEXTFILE
""")

++
||
++
++

In [32]:
spark.sql("SHOW TABLES").show()

+-------------------+---------------+-----------+
|           database|      tableName|isTemporary|
+-------------------+---------------+-----------+
|itv000684_tweetdata|sentiment_words|      false|
|itv000684_tweetdata|         tweets|      false|
+-------------------+---------------+-----------+

In [49]:
spark.sql("LOAD DATA INPATH '/user/itv000684/sentiment_analysis/data' INTO TABLE tweets")

++
||
++
++

In [34]:
spark.sql("LOAD DATA INPATH '/user/itv000684/sentiment_analysis/wordlist' INTO TABLE sentiment_words")

++
||
++
++

In [50]:
spark.sql("SELECT * FROM tweets").show()

+--------+---+----+-----+----+----+
|polarity| id|date|query|user|text|
+--------+---+----+-----+----+----+
+--------+---+----+-----+----+----+